<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
    <servlet>
        <servlet-name>WebService</servlet-name>
        <servlet-class>org.oncoblocks.data_block.servlet.WebService</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>WebService</servlet-name>
        <url-pattern>/webservice.do</url-pattern>
    </servlet-mapping>
</web-app>
